body {
    font-size: 20px;
    text-align: center;
}

li {
    display: inline;
    padding: 60px;
}

img {
    padding: 50px;
}

p {
    padding: 30px;

}


header nav {
    font-weight: bold;
}

#footer .footerdescription .strongboldnumber{
    color: goldenrod;
}

#footer .footerdescription .strongboldemail{
    color: goldenrod;
}

#header #headertext{
    background-color: goldenrod;
}

#header .headertexttitle{
    color: whitesmoke;
}