body {
    font-size: 20px;
    text-align: center;
}

li {
    display: inline;
    padding: 60px;
}

img {
    padding: 50px;
}

p {
    padding: 30px;

}


/* style for home page */
header nav {
    font-weight: bold;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(67, 67, 67);
    margin-bottom: 20px;
}

#footer .footerdescription .strongboldnumber {
    color: goldenrod;
}

#footer .footerdescription .strongboldemail {
    color: goldenrod;
}

#header #headertext {
    background-color: goldenrod;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#header .headertexttitle {
    color: whitesmoke;
}

header nav ul li {
    color: goldenrod;
}

.home-page-content .olcontent li {
    color: goldenrod;
}

.h3-title {
    color: goldenrod;
}

#footer {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(67, 67, 67);
}

.home-page-content {
    border-style: solid;
    border-width: 3px;
    border-color: goldenrod;
    margin-bottom: 20px;
}

/* style for about me page */
.aboutmeheader .h1title {
    background-color: goldenrod;
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

p strong {
    color: goldenrod;
}

.aboutmetitle {
    color: goldenrod;
    font-weight: bold;
}

a button {
    background-color: goldenrod;
    color: whitesmoke;
}

.about-me-content-part {
    border-style: solid;
    border-width: 3px;
    border-color: goldenrod;
}

.about-me-go-back-button {
    border-style: solid;
    border-width: 3px;
    border-color: goldenrod;
    margin-bottom: 10px;
}

/* style fotr submit order page */
#order-header h1 {
    background-color: goldenrod;
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.submit-order-forms form .send-button {
    background-color: goldenrod;
    color: whitesmoke;
    border-style: solid;
    border-width: 3px;
    border-color: goldenrod;
}


.submit-order-forms {
    border-style: solid;
    border-width: 3px;
    border-color: goldenrod;
}

.order-go-back {
    border-style: solid;
    border-width: 3px;
    border-color: goldenrod;
    margin-bottom: 20px;
}

.submit-order-forms .h2-title {
    color: goldenrod;
}

/* style for login page */

.login-page-content {
    border-style: solid;
    border-width: 3px;
    border-color: goldenrod;
}

.login-header h1 {
    background-color: goldenrod;
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.h2-login {
    color: goldenrod;
}

.login-form button {
    background-color: goldenrod;
    color: whitesmoke;
}

.login-go-back {
    border-style: solid;
    border-width: 3px;
    border-color: goldenrod;
    margin-bottom: 20px;
}

.login-submit-button {
    border-style: solid;
    border-width: 3px;
    border-color: goldenrod;
    margin-bottom: 20px;
}

/* style for html description page */

.html-header h1 {
    background-color: goldenrod;
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.html-content {
    border-style: solid;
    border-width: 3px;
    border-color: goldenrod;
}

.html-content .html-go-back{
    border: none;
    margin-bottom: 20px;
}

/* style for flutter description page */

.flutter-header h1 {
    background-color: goldenrod;
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.flutter-content {
    border-style: solid;
    border-width: 3px;
    border-color: goldenrod;
}

.flutter-content .flutter-go-back {
    border: none;
    margin-bottom: 20px;
}

/* style for csharp description page */

.csharp-header h1 {
    background-color: goldenrod;
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.csharp-content {
    border-style: solid;
    border-width: 3px;
    border-color: goldenrod;
}

.csharp-content .csharp-go-back {
    border: none;
    margin-bottom: 20px;
}