body {
    font-size: 20px;
    text-align: center;
}

li {
    display: inline;
    padding: 60px;
}

img {
    padding: 50px;
}

p {
    padding: 30px;

}


/* style for home page */
header nav {
    font-weight: bold;
}

#footer .footerdescription .strongboldnumber{
    color: goldenrod;
}

#footer .footerdescription .strongboldemail{
    color: goldenrod;
}

#header #headertext{
    background-color: goldenrod;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#header .headertexttitle{
    color: whitesmoke;
}

header nav ul li {
    color: goldenrod;
}

.content .olcontent li{
    color: goldenrod;
}

.h3-title{
    color: goldenrod;
}

/* style for about me page */
.aboutmeheader .h1title{
    background-color: goldenrod;
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

p strong {
    color: goldenrod;
}

.aboutmetitle{
    color: goldenrod;
    font-weight: bold;
}

a button{
    background-color: goldenrod;
    color: whitesmoke;
}

/* style fotr submit order page */
#order-header h1{
    background-color: goldenrod;
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.forms form .send-button{
    background-color: goldenrod;
    color: whitesmoke;
}

.h2-title{
    color: goldenrod;
}

/* style for login page */

.login-header h1{
    background-color: goldenrod;
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.h2-login{
    color: goldenrod;
}

.login-form button{
    background-color: goldenrod;
    color: whitesmoke;
}

/* style for html description page */

.html-header h1{
    background-color: goldenrod;
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

/* style for flutter description page */

.flutter-header h1{
    background-color: goldenrod;
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

/* style for csharp description page */

.csharp-header h1{
    background-color: goldenrod;
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}